<nav class="navbar_div">
    <div class="container">
        <h1>OXFORD UNIVERSITY</h1>
        <div class="navbar_links_div">
            @Html.ActionLink("Home" , "Index" , "Home" , null , new {@class = "navbar_link"})
            @Html.ActionLink("Students" , "Index" , "Students" , null , new {@class = "navbar_link"})
            @Html.ActionLink("Departments" , "Index" , "Departments" , null , new {@class = "navbar_link"})
            @Html.ActionLink("Courses" , "Index" , "Courses" , null , new {@class = "navbar_link"})
        </div>
    </div>
</nav>